Options -MultiViews

RewriteEngine On
RewriteBase /prep2024
RewriteRule ^prep2024/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /prep2024/index.html [L]