Options -MultiViews

RewriteEngine On
RewriteBase /sicodid2024
RewriteRule ^sicodid2024/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /sicodid2024/index.html [L]